


.img-container{
}

a{
    text-decoration: none;
}

img{
    border-radius: 20px;
    border: thin solid black;
}
.img1:hover{
    transform: scale(1.05);
    transition: .5s;
    z-index: 102;
}

h1{
    color: #ffd03e;
    font-family: Centaur;
    -webkit-text-stroke: 1px black;
}

.btn:hover{
    background-color: rgba(255,212,73,0.51);
}
